MYSQL_ROOT_PASSWORD=root2026
MYSQL_DATABASE=parcial_db
MYSQL_USER=parcial_user
MYSQL_PASSWORD=parcial2026
JWT_SECRET=ParcialJwtSecretProduccion2026MuySeguro!!
CORS_ALLOWED_ORIGINS=http://localhost,http://18.230.85.195
SEED_ENABLED=true
